* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 50px;
}

section {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-start; - domyślna wartość */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
}

.square {
    width: 20%;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.one {
    background-color: rebeccapurple;
}
.two {
    background-color: goldenrod;
}
.three {
    background-color: red;
}
.four {
    background-color: teal;
}