* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f7f9;
    font-family: Arial, Helvetica, sans-serif;
}

table, tr, td, th {
    margin: 0 auto;
    width: 90vw;
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: white;
}

td, th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    box-shadow: 0 15px 30px rgba(0, 123, 255, 0.9);
}

caption {
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px;
}

th {
    background-color: #007BFF;
    color: white;
}
