* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 50px;
}

#flex-container {
    display: flex; 
    flex-direction: column;
}

.square {
    width: 250px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    flex-basis: 300px;
}
.one {
    background-color: rebeccapurple;
}
.two {
    background-color: goldenrod;
}
.three {
    background-color: red;
}
.four {
    background-color: teal;
}