* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: sans-serif;
}

section {
    display: flex;
    margin: 50px auto;
    height: 400px;
    width: 800px;
    border: 5px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border: 3px solid black;
    background: lime;
}

.first-section {
    align-items: flex-end;
    justify-content: center;
}

.last-section {
    align-items: flex-end;
    flex-direction: column-reverse;
    justify-content: space-between;
}