* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: sans-serif;
}

/* section {

} */

.square {
    width: 200px;
    height: 200px;
    font-size: 50px;
    border: 3px solid black;
    background: lime;
}