*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    font-size: 3.6rem;
}

.wrapper {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid black;
}

.blue {
    background-color: cornflowerblue;
}

.purple {
    background-color: slateblue;

}

.green {
    background-color: greenyellow;
}

.red {
    background-color: red;
}

.one {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.two {
    grid-row: 3 / 6;
    grid-column: 4 / 5;
}

.three {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

.four {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

.five {
    grid-row: 2 / 5;
    grid-column: 3 / 4;
}

.six {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}

.seven {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.eight {
    grid-row: 1 / 2;
    grid-column: 3 / 6;
}

.nine {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
}

.ten {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}