* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 50px;
}

section {
    display: flex;
}

.square {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.one {
    background-color: rebeccapurple;
    /* order: 0; - wartość domyślna */
    order: -1;
}

.two {
    background-color: goldenrod;
    order: 1;
}

.three {
    background-color: red;
    order: 0;
}

.four {
    background-color: teal;
    order: 50;
}