* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #333;
    font-size: 25px;
    margin: 10px 30px;
}

.title {
    font-weight: bold;
    transition: color .3s;
}

.title:hover {
    color: fuchsia;
}

li:nth-of-type(2n) {
    color: lime;
}

span:nth-of-type(1) {
    color: gold;
}

.test p:first-child, p:last-child {
    color: tomato;
}