* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 36px;
}

section {
    display: flex;
    
}

.square {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.one {
    background-color: rebeccapurple;   
    /* flex-grow: 0; - wartość domyślna */
    flex-shrink: 1;
}

.two {
    background-color: goldenrod;
    flex-shrink: 5;
}

.three {
    background-color: red;
    flex-shrink: 1;
}

.four {
    background-color: teal;
    flex-shrink: 1;
}