* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: #333;
}

h3 {
    padding: 20px;
    font-size: 36px;
}

/* .box {
    width: 600px;
    height: 600px;
    background-color: lime;
}

.inside {
    width: 50vw;
    height: 50vw;
    background-color: royalblue;
}  */

/* REM */
/* p {
    font-size: 3rem;
    padding: 20px;
} */

/* EM */

div {
    padding: 20px 50px;
} 

.top {
    font-size: 20px;
    background-color: black;
}

.one {
    font-size: 3em;
}

.two {
    font-size: 2em;
}

.bottom {
    font-size: 30px;
}

.first {
    font-size: 1em;
}

.second {
    font-size: 3em;
}
