*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #333;
    font-size: 3.6rem;
}

.wrapper {
    margin: 50px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid black;
}

.blue {
    background-color: cornflowerblue;
}

.purple {
    background-color: slateblue;
}

.green {
    background-color: greenyellow;
}

.gold {
    background-color: gold;
}

.one {
    background-color: teal;
    /* grid-column: 1 / 2; */
    /* grid-column: 1 / span 5; */
    /* grid-column: 1 / -1; */
    /* grid-column: 5 / -1; */
    /* grid-column: 5 / 10; */
    /* grid-column: 5 / -2; */
    /* grid-column: 5 / 8; */
    grid-column: 8 / -6;
}