* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 50px;
}

section {
    height: 400px;
    background-color: #678;
    display: flex;
    /* align-items: stretch; - wartość domyślna */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center */
    align-items: baseline;
}

.square {
    width: 20%;
    text-align: center;
}
.one {
    background-color: rebeccapurple;
    font-size: 150px;
}
.two {
    background-color: goldenrod;
    font-size: 30px;
}
.three {
    background-color: red;
    font-size: 100px;
}
.four {
    background-color: teal;
}