* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #333;
    font-size: 36px;
    padding: 20px;
}

h3 {
    text-transform: uppercase;
}

/* .main {
    color: lime;
} */

/* div {
    color: lime;
} */

/* p {
    color: lime;
} */

div p {
    color: lime;
}