* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

nav {
    height: 60px;
    line-height: 60px;
    background-color: #ddd;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}