body {
    background-color: #333;
}

#container-1 {
    word-spacing: 2em;
    color: #a0a82d;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
}

h2 {
    text-align: center;
    border: dashed red;
    border-width: 1px;
    margin: 2em;
    padding: 1em;
    width: 600px;
}

.img {
    margin: 2em;
    border: 4px solid blue;
    width: 800px;
    height: 600px;
    background-image: url(motherboard.jpg);
}

.pseudoklasa {
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: underline none;
    padding-left: 50px;
}

.href {
    color: navy;
}

.href:hover {
    color: black;
}